 title{
     color: #282828;
     font: size 14px;
 }
 body{
    background-color: #fff;

 }
 p{
    color: #282828;
     font: size 12px; 
     padding: auto;
 }
 img{
    width: 288px;
    height: 182px;
    margin-bottom:auto;
 }
